<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/dept_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h3>부서 정보 상세 조회</h3>
		<div>
			<label for="did">부서 번호</label> <input type="text" id="did"
				th:value="${dept.departmentId}" readonly>
		</div>
		<div>
			<label for="dname">부서명</label> <input type="text" id="dname"
				th:value="${dept.departmentName}" readonly>
		</div>
		<div>
			<label for="mid">매니저 번호</label> <input type="text" id="mid"
				th:value="${dept.managerId}" readonly>
		</div>
		<div>
			<label for="lid">지역 번호</label> <input type="text" id="lid"
				th:value="${dept.locationId}" readonly>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{/deptUpdate(departmentId=${dept.departmentId})}'|">수정</button>
			<button type="button" th:onclick="|location.href='@{/deptList}'|">목록</button>
			<button type="button" th:onclick="|location.href='@{/deptDelete(departmentId=${dept.departmentId})}'|">삭제</button>
		</div>
	</div>
</body>
</html>